body {
  background-color: rgb(210, 255, 100);
}

h1 {
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
}

#banner {
  width: 1041px;
}

#nav-table {
  background-color: rgb(121, 210, 166); 
  width: 1040px;
}

#nav-button {
  width: 340px; text-align: center;
}
