body {
  background-color: rgb(195, 250, 160);
}

h1 {
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: "Gill Sans", sans-serif;
}

#banner {
  width: 1041px;
}

#nav-table {
  background-color: rgb(110, 200, 150); 
  width: 1040px;
}

#nav-button {
  width: 340px; text-align: center;
}
